@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

.menu {
  display: flex;
  justify-content: space-between;
  border: 5px solid #000;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Comic Neue', cursive;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 2em;
  font-family: 'Comic Neue', cursive;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  gap: 3rem;
  font-size: 1rem;
  font-family: 'Comic Neue', cursive;
}

.left-leader {
  display: flex;
  flex-direction: column;
}

.score-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.refresh {
  padding: 5px 8px;
  font-family: 'Comic Neue', cursive;
  border: 3px solid black;
}

.refresh:hover {
  cursor: pointer;
  color: #fff;
  background-color: pink;
}

.scores {
  border: 5px solid #000;
  margin-top: 2rem;
  font-family: 'Comic Neue', cursive;
}

.list-scores {
  background-color: pink;
}

table {
  width: 100%;
}

.rowholder {
  padding-bottom: 8px;
  padding-top: 8px;
}

.rowholder:nth-child(even) {
  background-color: #ccc;
}

form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 2rem;
}

form input {
  padding: 8px;
  font-family: 'Comic Neue', cursive;
  border: 5px solid black;
}

.submit {
  margin-left: 5rem;
  padding: 8px 10px;
  font-family: 'Comic Neue', cursive;
  border: 3px solid black;
}

.submit:hover {
  cursor: pointer;
  color: #fff;
  background-color: pink;
}

footer {
  display: flex;
  justify-content: space-between;
  border: 5px solid #000;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Comic Neue', cursive;
}
